.dropdown-menu .dropdown-item{
 all: unset;
 display: block;
 cursor: pointer;
 padding: 0.25rem 1rem;
    color: rgba(255, 255, 255, 0.55)!important;
}
#aa{
    font-size: 16px!important;
}
.activ{
    background-color: rgba(231, 76, 76, 0.55)!important;
    color: white!important;
}
@media (max-width:800px) {
    .nav-item{
        margin-top: 10px!important;
    }
}